
.icon-crown:before { content: '\e806'; } /* '' */
.icon-award:before { content: '\e803'; } /* '' */
.icon-beer:before { content: '\e801'; } /* '' */
.icon-info:before { content: '\e804'; } /* '' */
.icon-share:before { content: '\e807'; } /* '' */
.icon-stopwatch:before { content: '\e802'; } /* '' */
.icon-king:before { content: '\e805'; } /* '' */
.icon-googleplay:before { content: '\e800'; } /* '' */